:root {
    --orange: #FAA45B;
    --red: #E1714C;
    --lblue: #568DAC;
    --dblue: #1B3242;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: var(--dblue);
    color: #ffffff;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

#topMenu {
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    text-align: center;

}

.table {
    display: table;
    margin: 0 auto;
}

#menuList {
    text-align: center;
}

#menuList li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

#hero {
    position: relative;
    margin: auto;
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 900px) {
    #hero {
        white-space: normal;
    }
}

#heroWrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    margin: auto;
    text-align: center;
}

#herovid {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
}

#inner1, #inner2 {
    position: absolute;
    top: 0;
    width: 100%;
}

#innerText0 {
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.2),
    0px 0px 75px rgba(255, 255, 255, 0.3), 
    0px 0px 6px #ffffff;
    font-size: 10em;
    font-weight: 900;
}

#innerText1 {
    mix-blend-mode: screen;
    text-shadow: 4px 0px 8px rgba(0, 211, 255, 0.54);
    font-size: 10em;
    font-weight: 900;
}

#innerText2 {
    mix-blend-mode: screen;
    text-shadow: -4px 0px 8px rgb(255, 93, 115);
    font-size: 10em;
    font-weight: 900;
}

@media (max-width: 550px) {
    #innerText0, #innerText1, #innerText2 {
        font-size: 7em;
    }
}

#content {
    margin: auto;
    margin-top: 50vh;
    padding: 50px 5%;
    max-width: 1300px;
    text-align: center;
}

#grid {
    max-width: 1000px;
    margin: auto;
}

.tagline {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.divider {
    display: block;
    position: relative;
    height: 3px;
    background-color: white;
    width: 100px;
    margin: 60px auto 30px;
}

.dividerLeft {
    margin-left: 0px;
}

.spacer {
    height: 100px;
}

.headline {
    text-align: left;
    font-size: 6em;
    letter-spacing: -0.02em;
    margin-bottom: -35px;
    position: relative;
    z-index: 2;
}

.projectBox {
    min-height: 500px;
    padding: 90px 50px 60px;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

.projectBox:hover {
    transform: scale(105%);
}

.projectHeader {
    font-size: 46px;
    margin: 30px auto;
    width: 80%;
}

.projectBox img {
    max-width: 100%;
    max-height: 100%;
}

.projectBoxDesc {
    width: 70%;
    margin: auto;
}

@media (max-width: 550px) {
    .headline {
        font-size: 4.5em;
    }
}

#moduloBox {
    width: 100%;
    background-color: #032735;
}

#moduloBox img {
    width: 300px;
}

#footer {
    background-color: var(--lblue);
    padding: 40px 50px 60px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: left;
}

#footerHeadline {
    margin-top: 200px;
}

.projectHeader a:hover {
    text-decoration: underline;
}

#footerEmail {
    margin: 0px;
}

#footer .projectBoxDesc {
    text-align: left;
    margin-left: 0;
}

#socials {
    margin-top: 40px;
}

.contactIcon {
    width: 30px;
    height: 30px;
    display: inline-block;
}